html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

img {
  width: 100%;
}

h3 {
  font-size: 10vw;
  text-align: center;
}

fieldset {
  display: block;
  width: 96%;
  margin: 2% auto;
}

label {
  display: block;
  font-size: 7vw;
  margin: 2% 3%;
}

input {
  display: block;
  margin: 0 auto;
}

button {
  margin: 2% 5%;
}
