<footer>
  <div class="footer-container-left">
    <a href="#">About</a>
    <a href="#">Contact</a>

    <!-- social media links -->
    <a href="#">
      <span class="icon-facebook2"></span>
    </a>
    <a href="#">
      <span class="icon-github"></span>
    </a>
    <a href="#">
      <span class="icon-linkedin"></span>
    </a>
    <a href="#">
      <span class="icon-steam2"></span>
    </a>
  </div>

  <div class="footer-container-right">
    <a href="#">Sign Up</a>
    <a href="#">Login</a>
    <a href="#">Browse</a>
  </div>
</footer>
