<section *ngIf="user">
  <h3>Update Account</h3>
  <form class="form update-form">
    <fieldset>
      <label>First Name</label>
      <input class="input-main" type="text" [(ngModel)]="user.firstName" name="firstName" required>
    </fieldset>
    <fieldset>
      <label>Last Name</label>
      <input class="input-main" type="text" [(ngModel)]="user.lastName" name="lastName" required>
    </fieldset>
    <fieldset>
      <label>Age</label>
      <input class="input-main" type="number" [(ngModel)]="user.age" name="age" required>
    </fieldset>
    <fieldset>
      <label>Username</label>
      <input class="input-main" type="text" [(ngModel)]="user.username" name="username" required>
    </fieldset>
    <fieldset>
      <label>Email</label>
      <input class="input-main" type="text" [(ngModel)]="user.email" name="email" required>
    </fieldset>
    <fieldset class="bio-container">
      <label>Bio</label>
      <textarea class="bio-text" [(ngModel)]="user.bio" name="bio" maxlength="200"></textarea>
      <span class="textarea-counter">{{200 - user.bio.length}}</span>
    </fieldset>

    <h3>Prefrences</h3>
    <fieldset>
      <label class="checkbox-label">Display Name</label>
      <input type="checkbox" [(ngModel)]="user.displayName" name="displayName">
    </fieldset>

    <fieldset>
      <label class="checkbox-label">Display Age</label>
      <input type="checkbox" [(ngModel)]="user.displayAge" name="displayAge">
    </fieldset>

    <fieldset>
      <label class="checkbox-label">Display Email</label>
      <input type="checkbox" [(ngModel)]="user.displayEmail" name="displayEmail">
    </fieldset>

    <div class="button-container">
      <button class="secondary-button" (click)="updateProfile()">Save</button>
    </div>
  </form>
</section>
