<section *ngIf="user">
  <h3>Update Account</h3>
  <form class="form update-form">
    <fieldset>
      <label>First Name</label>
      <input class="input-main" type="text" [(ngModel)]="user.firstName" name="firstName" required>
    </fieldset>
    <fieldset>
      <label>Last Name</label>
      <input class="input-main" type="text" [(ngModel)]="user.lastName" name="lastName" required>
    </fieldset>
    <fieldset>
      <label>Age</label>
      <input class="input-main" type="number" [(ngModel)]="user.age" name="age" required>
    </fieldset>
    <fieldset>
      <label>Username</label>
      <input class="input-main" type="text" [(ngModel)]="user.username" name="username" required>
    </fieldset>
    <fieldset>
      <label>Email</label>
      <input class="input-main" type="text" [(ngModel)]="user.email" name="email" required>
    </fieldset>
    <fieldset>
      <label>Bio</label>
      <textarea class="bio-text" [(ngModel)]="user.bio" name="bio"></textarea>
    </fieldset>

    <h3>Prefrences</h3>
    <fieldset class="checkbox-container">
      <label class="checkbox-label">Display Name</label>
        <div class="checkbox-slider" (click)="sliderController($event)">
          <input type="checkbox" class="checkbox" [(ngModel)]="user.displayName" name="displayName">
        <div class="slider-contianer">
          <div class="slider"></div>
        </div>
      </div>
    </fieldset>

    <fieldset class="checkbox-container">
      <label class="checkbox-label">Display Age</label>
        <div class="checkbox-slider" (click)="sliderController($event)">
          <input type="checkbox" class="checkbox" [(ngModel)]="user.displayAge" name="displayAge">
        <div class="slider-contianer">
          <div class="slider"></div>
        </div>
      </div>
    </fieldset>

    <fieldset class="checkbox-container">
      <label class="checkbox-label">Display Email</label>
        <div class="checkbox-slider" (click)="sliderController($event)">
          <input type="checkbox" class="checkbox" [(ngModel)]="user.displayEmail" name="displayEmail">
        <div class="slider-contianer">
          <div class="slider"></div>
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <button class="secondary-button" (click)="updateProfile()">Save</button>
    </div>
  </form>
</section>
