<section class="profile-details" *ngIf="user">
  <div class="profile-picture-container">
    <div class="corner upper-left"></div>
    <div class="corner lower-left"></div>
    <div class="corner upper-right"></div>
    <div class="corner lower-right"></div>
    <img class="profile-image" src="http://placehold.it/400X400">
  </div>
  <h4 class="username">{{user.username}}</h4>
  <div class="user-details">
    <p class="name">{{user.firstName + " " + user.lastName}}</p>
    <p class="age" *ngIf="user.age">{{user.age}}</p>
  </div>
  <p class="email">{{user.email}}</p>
  <div class="bio-container" *ngIf="user.bio">
    <h5>Bio:</h5>
    <p class="bio">{{user.bio}}</p>
  </div>
  <button class="secondary-button" (click)="updateUserAccount()">Update Account</button>
</section>
