<section class="profile-details" *ngIf="user">
  <h4 class="username">{{user.username}}</h4>
  <div class="user-details">
    <p class="name">{{user.firstName + " " + user.lastName}}</p>
    <p class="age" *ngIf="user.age">{{user.age}}</p>
  </div>
  <p class="email">{{user.email}}</p>
  <div class="bio-container" *ngIf="user.bio">
    <h5>Bio:</h5>
    <p class="bio">{{user.bio}}</p>
  </div>
  <button class="secondary-button"><a [routerLink]="['/update']">Update Account</a></button>
</section>
