<h3>Register</h3>
<form class="form register-form" (submit)="onRegisterSubmit()">
  <fieldset>
    <label>First Name</label>
    <input class="input-main" type="text" [(ngModel)]="firstName" name="firstName">
  </fieldset>
  <fieldset>
    <label>Last Name</label>
    <input class="input-main" type="text" [(ngModel)]="lastName" name="lastName">
  </fieldset>
  <fieldset>
    <label>Username</label>
    <input class="input-main" type="text" [(ngModel)]="username" name="username">
  </fieldset>
  <fieldset>
    <label>Email</label>
    <input class="input-main" type="text" [(ngModel)]="email" name="email">
  </fieldset>
  <fieldset>
    <label>Password</label>
    <input class="input-main" type="password" [(ngModel)]="password" name="password">
  </fieldset>
  <fieldset>
    <label>Confirm Password</label>
    <input class="input-main" type="password" [(ngModel)]="confirm" name="confirm">
  </fieldset>
  <div class="button-container">
    <button class="secondary-button" type="submit" value="submit">Register</button>
  </div>
</form>
