.form {
  width: 100%;
  fieldset {
    display: block;
    width: 96%;
    margin: 2% auto;
    label {
      display: block;
      font-size: 7vw;
      margin: 2% 3%;
    }
    input {
      display: block;
      margin: 0 auto;
    }
  }
  button {
    margin: 2% 5%;
  }
}
